/*Styling for header section*/

/*Basic*/
*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
/*Back button container*/
.back_btn_container{
  background-color: white;
  border: solid;
  border-color: #232931;
  border-radius: 56px;
  border-width: 0.5px;
  margin-left: 16px;
  cursor: pointer;
}
#back_btn{
  padding: 8px;
  color: #232931;
}
.back_btn_container:active{
  opacity: 0.3;
}
/*Sign up text*/
#sign_heading{
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  color: #232931;
  margin-left: 16px;
}
/*Header container*/
.head_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
}